{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--=======Page Heading
    ===============================================-->
    <section class="page-heading-section bg-image before-bg" style="background-image: url({% static 'images/header/p-header2.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="page-heading">
                        <h2 class="page-name text-capitalize"><font color = "white">О проекте</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=======About Page
    ================================-->
    <div class="about-page page-wrapper">
        <section id="standard-section" class="our-standard-section s-pd1">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="section-heading-area text-center">
                        <h2 class="section-heading text-capitalize">Org Sport</h2>
						<font color = "black"><p>Это платформа организации, планирования спортивных мероприятий субъектов Российской Федерации. Сервис адаптирован для удобного использования участников и организаторов спортивных соревнований.</p>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <a href="https://www.youtube.com/watch?v=KDt0CRhKLUM" class="video-btn before-bg">
                        <img class="img-fluid border-radius" src="{% static 'images/thumbnail-video.jpg' %}" width="600" height="321" alt="img">
                        <span class="play-icon">
                                <i class="fa fa-play-circle-o"></i>
                            </span>
                    </a>
                </div><!--/.col-lg-6-->
                <div class="col-lg-6 col-md-12">
                    <div id="accordion" class="our-standard-content" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default single-standard">
                            <div class="panel-heading" role="tab">
                                <h3 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><font color = "5da2d5">Организация</a>
                                </h3>
                            </div><!--/.panel-heading-->
                            <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel">
                                <div class="single-standard-content">
                                    <font color = "f78888"><b><p>Организация заключается в ...</p>
                                </div>
                            </div><!--/.panel-collapse-->
                        </div><!--/.single-standard-->
                        <div class="panel panel-default single-standard">
                            <div class="panel-heading" role="tab">
                                <h3 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><font color = "5da2d5">Информирование</a>
                                </h3>
                            </div><!--/.panel-heading-->
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel">
                                <div class="single-standard-content">
                                    <font color = "f78888"><b><p>Информирование - ...</p>
                                </div>
                            </div><!--/.panel-collapse-->
                        </div><!--/.single-standard-->
                        <div class="panel panel-default single-standard">
                            <div class="panel-heading" role="tab">
                                <h3 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><font color = "5da2d5">Программное решение</a>
                                </h3>
                            </div><!--/.panel-heading-->
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel">
                                <div class="single-standard-content">
                                    <font color = "f78888"><b><p>Org Sport позволяет...</p>
                                </div>
                            </div><!--/.panel-collapse-->
                        </div><!--/.single-standard-->
                    </div><!--/.our-standard-content-->
                </div><!--/.col-lg-6-->
            </div><!--/.row-->
    </div><!--/.container-->
    </section><!--/.page-heading-area-->
    <section class="counter-section before-bg bg-image s-pd145" style="background-image: url(images/dw-icon.png);">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-lg-3 col-sm-3 col-6">
                            <div class="single-counter">
                                <h2><span class="counter">{{ courses }}</span></h2>
                                <p>Секции</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-6">
                            <div class="single-counter">
                                <h2><span class="counter">{{ students }}</span></h2>
                                <p>Участники</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-6">
                            <div class="single-counter">
                                <h2><span class="counter">{{ teachers }}</span></h2>
                                <p>Организаторы</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-6">
                            <div class="single-counter">
                                <h2><span>100%</span></h2>
                                <p>Счастье</p>
                            </div>
                        </div>
                    </div><!--/.row
                </div><!--/.col-lg-10-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/.counter-section-->

    <!--====Services Section
      ====================================-->
<!--     <section id="services-section" class="services-section-area s-pd1">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-8">
                    <div class="section-heading-area text-center">
                        <h2 class="section-heading text-capitalize">Subjects Offered</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="single-service text-center">
                        <div class="icon">
                            <img src="{% static 'images/icon/englishicon.png' %}" alt="english-icon">
                        </div>
                        <h3>English</h3>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single-service text-center">
                        <div class="icon">
                            <img src="{% static 'images/icon/mathicon.png' %}" alt="math-icon">
                        </div>
                        <h3>Mathematics</h3>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single-service text-center">
                        <div class="icon">
                            <img src="{% static 'images/icon/scienceicon.png' %}" alt="science-icon">
                        </div>
                        <h3>Science</h3>
                    </div>
                </div> -->
<!--             </div>
        </div>
    </section> -->
{% endblock %}

{% block join_us %}
    <div class="footer-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <h2>Org Sport</h2>
                    </div><!--/.col-lg-9-->
                    <div class="col-lg-3 text-right">
                        <a href="{% url 'register' %}" class="btn btn-default">Начать</a>
                    </div><!--/.col-lg-3-->
                </div><!--/.row-->
            </div><!--/.container-->
        </div><!--/.footer-top-area-->
{% endblock %}