{% extends 'staff_base.html' %}
{% load static %}
{% load thumbnail %}
{% block content %}


      <!-- Custom Theme Style -->
    <link href="{% static '/vendors/datatables.net-bs/css/dataTables.bootstrap.css' %}" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="https://www.google.com/jsapi"></script>
  <script>
   google.load("visualization", "1", {packages:["corechart"]});
   google.setOnLoadCallback(drawChart);
   function drawChart() {
    var data = google.visualization.arrayToDataTable([
     ['Участники', 'Доля'],
     ['Пришедшие один раз',     78.09],
     ['Постоянные', 20.95],
     ['Не активные', 0.03]
    ]);
    var options = {
     title: '',
     is3D: true,
     pieResidueSliceLabel: 'Остальное'
    };
    var chart = new google.visualization.PieChart(document.getElementById('air'));
     chart.draw(data, options);
   }
  </script>
  <script type="text/javascript">
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	theme: "light1", // "light2", "dark1", "dark2"
	animationEnabled: false, // change to true		
	title:{
		text: "Активность по центрам"
	},
	data: [
	{
		// Change type to "bar", "area", "spline", "pie",etc.
		type: "column",

		dataPoints: [
			{ label: "apple",  y: {{students_count}}  },
			{ label: "orange", y: {{students_count}}  },
			{ label: "banana", y: 25  },
			{ label: "mango",  y: 30  },
			{ label: "grape",  y: 28  }
		]
	}

	]
});
chart.render();

}
</script>

<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer2", {
	animationEnabled: true,
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	title: {
		text: "GDP per Capita - 2016"
	},
	subtitles: [{
		text: "In USD",
		fontSize: 16
	}],
	axisY: {
		prefix: "$",
		scaleBreaks: {
			customBreaks: [{
				startValue: 10000,
				endValue: 35000
			}]
		}
	},
	data: [{
		type: "column",
		yValueFormatString: "$#,##0.00",
		dataPoints: [
			{ label: "USA", y: 57466.787 },
			{ label: "Austraila", y: 49927.82 },
			{ label: "UK", y: 39899.388 },
			{ label: "UAE", y: 37622.207 },
			{ label: "Brazil", y: 8649.948 },
			{ label: "China", y: 8123.181 },
			{ label: "Indonesia", y: 3570.295 },
			{ label: "India", y: 1709.387 }	
		]
	}]
});
chart.render();

}
</script>
 </head>
    <div class="row">

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">Анализ</h2>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
						      <li class="breadcrumb-item"><a href="{% url 'staff:dashboard' %}" class="breadcrumb-link">Админ</a></li>

                            <li class="breadcrumb-item active" aria-current="page">Анализ</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                <p{% if forloop.last %} class="mb-0"{% endif %}>{{ message }}</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
	
	

	
    <div class="container">
	
	<div class="col-xl-12 col-lg-12 col-md-8 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header"><i class="fas fa-chart-line" style="color: #F78888"></i> Активность пользователей</h5>
                <div class="card-body">
				<div id="air" style="height: 370px; width: 100%;;"></div>                </div>
            </div>
        </div>



 <div id="chartContainer" style="height: 370px; width: 100%;"></div>
 
 
 <div id="chartContainer2" style="height: 370px; width: 100%;"></div>
     </div>                
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-muted">lndvklnsdklnКурсы</h5>
                    <div class="metric-value d-inline-block">
                        <h1 class="mb-1 text-primary">{{ courses_count }} </h1>
                    </div>
                    <div class="metric-label d-inline-block float-right">
                        <h1 class="mb-1 text-primary"><i class="fas fa-book"></i></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-muted">Обучающиеся</h5>
                    <div class="metric-value d-inline-block">
                        <h1 class="mb-1 text-primary">{{ students_count }} </h1>
                    </div>
                    <div class="metric-label d-inline-block float-right">
                        <h1 class="mb-1 text-primary"><i class="fas fa-child"></i></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-muted">Преподаватели</h5>
                    <div class="metric-value d-inline-block">
                        <h1 class="mb-1 text-primary">{{ teachers_count }}</h1>
                    </div>
                    <div class="metric-label d-inline-block float-right">
                        <h1 class="mb-1 text-primary"><i class="fab fa-black-tie"></i></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-muted">Тесты</h5>
                    <div class="metric-value d-inline-block">
                        <h1 class="mb-1 text-primary">{{ quizzes_count }}</h1>
                    </div>
                    <div class="metric-label d-inline-block float-right">
                        <h1 class="mb-1 text-primary"><i class="fas fa-pencil-alt"></i></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8 col-lg-12 col-md-8 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header"><i class="fas fa-chart-line" style="color: #F78888"></i> Активность пользователей</h5>
                <div class="card-body">
                    <canvas id="activities-line" width="500" height="200"></canvas>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-12 col-md-4 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header"><i class="fas fa-chart-pie" style="color: #F78888"></i> Состояния курсов</h5>
                <div class="card-body">
                    <canvas id="course-status-donut" width="220" height="188"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header"><i class="fas fa-address-book" style="color: #F3D250"></i> Крайние действия пользователей</h5>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="bg-light">
                            <tr class="border-0">
                                <th class="border-0">Пользователь</th>
                                <th class="border-0">Действие</th>
                                <th class="border-0">Тип пользователя</th>
                                <th class="border-0">Дата</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user_log in latest_user_log %}
                                <tr>
                                    <td>
                                        {% if user_log.user_type == 'teacher' %}
                                            {% thumbnail user_log.user.teacher.image "40x40" crop="center" as im %}
                                                <img class="rounded-circle" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="user">&nbsp;&nbsp;
                                            {% endthumbnail %}
                                        {% elif user_log.user_type == 'student' %}
                                            {% thumbnail user_log.user.student.image "40x40" crop="center" as im %}
                                                <img class="rounded-circle" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="user">&nbsp;&nbsp;
                                            {% endthumbnail %}
                                        {% endif %}
                                        <b>{{ user_log.user }}</b>
                                    </td>
                                    <td>{{ user_log.action }}</td>
                                    <td>{{ user_log.user_type.title }}</td>
                                    <td>{{ user_log.created_at|date:"j F Y g:i" }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="8"><a href="{% url 'staff:user_log_list' %}" class="btn btn-outline-light float-right">Перейти к детализации</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header"><i class="fas fa-fw fa-book" style="color: #F3D250"></i> Курсы</h5>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="bg-light">
                            <tr class="border-0">
                                <th class="border-0">Рейтинг</th>
                                <th class="border-0">Курс</th>
                                <th class="border-0">Код</th>
                                <th class="border-0">Разработчик</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for course in popular_courses %}
                                <tr>
                                    <td>
                                        <span style="color: #ffc107"><b>★</b></span> {{ course.average|floatformat:"-2" }}
                                    </td>
                                    <td>
                                        <a href="{% url 'course_details' course.object_id %}" target="_blank">
                                            <b><u>{{ course.title }}</u></b>
                                        </a>
                                    </td>
                                    <td>{{ course.code }}</td>
                                    <td>
                                        {% thumbnail course.owner.teacher.image "40x40" crop="center" as im %}
                                            <img class="rounded-circle" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="user">&nbsp;&nbsp;
                                        {% endthumbnail %}
                                        {{ course.owner.first_name }} {{ course.owner.last_name }}
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="8"><a href="{% url 'staff:course_list' %}" class="btn btn-outline-light float-right">Перейти к детализации</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'staff/assets/charts/active.js' %}"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"> </script>
    <script type="text/javascript" src="{% static 'staff/assets/charts/course_status_donut.js' %}"></script>
    <script type="text/javascript" src="{% static 'staff/assets/charts/user_line.js' %}"></script>
    <script src="{% static '/vendors/iCheck/icheck.min.js' %}"></script>
    <script src="{% static '/vendors/datatables.net/js/jquery.dataTables.js' %}"></script>
    <script src="{% static '/vendors/validator/validator.js' %}"></script>
	      {% block javascripts %}
        <!-- jQuery -->
        <script src="/static/vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="/static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="/static/vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="/static/vendors/nprogress/nprogress.js"></script>
        <!-- bootstrap-progressbar -->
        <script src="/static/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
        <!-- iCheck -->
        <script src="/static/vendors/iCheck/icheck.min.js"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="/static/vendors/moment/min/moment.min.js"></script>
        <script src="/static/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
        <!-- bootstrap-wysiwyg -->
        <script src="/static/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
        <script src="/static/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
        <script src="/static/vendors/google-code-prettify/src/prettify.js"></script>
        <!-- jQuery Tags Input -->
        <script src="/static/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
        <!-- Switchery -->
        <script src="/static/vendors/switchery/dist/switchery.min.js"></script>
        <!-- Select2 -->
        <script src="/static/vendors/select2/dist/js/select2.full.min.js"></script>
        <!-- Parsley -->
        <script src="/static/vendors/parsleyjs/dist/parsley.min.js"></script>
        <!-- Autosize -->
        <script src="/static/vendors/autosize/dist/autosize.min.js"></script>
        <!-- jQuery autocomplete -->
        <script src="/static/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
        <!-- starrr -->
        <script src="/static/vendors/starrr/dist/starrr.js"></script>
		
		
		
		
		
	<script src="/static/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/static/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/static/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/static/build/js/custom.min.js"></script>
      {% endblock %}
      <!-- Custom Theme Scripts -->
      <script src="/static/build/js/custom.js"></script>
{% endblock %}

{% block footer %}
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
Разработано на хакатоне <a href ='#'>Digital Super Hero</a> </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}